body{margin:0;font-family:Arial;background:#f4f4f4;}

header{background:#2ecc71;color:white;padding:20px;text-align:center;}

nav{background:#27ae60;padding:12px;text-align:center;}
nav a{color:white;margin:0 15px;text-decoration:none;font-weight:bold;cursor:pointer;}

.container{display:none;padding:20px;}
.active{display:block;}

.card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:12px;
    box-shadow:0 6px 20px rgba(0,0,0,0.08);
    text-align:center;
}

button{background:#2ecc71;border:none;padding:10px;color:white;cursor:pointer;border-radius:5px;}

input{padding:8px;width:80%;margin-bottom:10px;}

footer{background:#2ecc71;color:white;text-align:center;padding:12px;margin-top:20px;}

.tip-box{
    background:#d5ffe4;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
}

.bmi-box{
    background:#ffe0b2;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
}

img{
    width:1500px;
    max-width:500px;
    height:300px;
    object-fit:cover;
    border-radius:12px;
    margin:15px auto 0;
    display:block;
    box-shadow:0 6px 20px rgba(0,0,0,0.15);
}

.form-box{
    max-width:400px;
    margin:auto;
    padding:20px;
    background:#ffffff;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,0.1);
}